.indexPage {
  background: #FFFFFF;
}

header {
  display: flex;
  justify-content: flex-end;
  background: #641566;
}

.headerContainer {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.headerContainer button {
  background-color: transparent;
  padding: 10px;
  height: 42px;
}

.headerContainer button img{
  width: 20px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 20px; */
  position: sticky;
  top: 1px;
  left: 388px;
  background-color: white;
  z-index: 100;
}

#navWindow {
  display: none;
}

.alt-pageFrame {
  display: none;
}

.pageFrame {
  display: grid;
  grid-template: "a a a a a a";
  align-items: center;
  background: #F5F5F5;
  box-shadow: 0px 4px 4px 0px #00000040;
  width: 759px;
  height: 47px;
  padding: 0 35px;
  gap: 63px;
}

.pageFrame a {
  font-family: Cormorant;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.38px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: black;
  transition: .5s;
}

.pageFrame a:hover {
  color:#c175ec;
}

.heroImage {
  margin-top: 10px;
  width: 99.9%;
  border: 0.82px solid #C9C9C9;
  box-shadow: 0px 4px 4px 0px #00000040;
}

button {
  background: #583781;
  color: white;
  transition: .5s;
}

button:hover {
  background-color: #C9C9C9;
  color:#5A156B;
}

.dataPanel .span > img {
  position: absolute;
}

#triangles {
  top: -30px;
  left: -50px;
}

#cross {
  top: 150px;
  left: 98%;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 500;
}

.data {
  display: flex;
  justify-content: space-around;
}

.dataPanel .span {
  width: 90%;
  height: 218px;
  top: 50px;
  left: 100px;
  opacity: 1;
  background: #FDFDFD;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: block;
  position: relative;
}

.dataPanel .span > h1 {
  margin-top: 0px;
}

.dataPanel .span > h2 {
  margin: 0px;
}

.dataitem h1, .dataitem p {
  margin: 0;
}

.dataitem p {
  margin-left: 5px;
}

.dataitem div{
  display: flex;
  justify-content: center;
}

.theWorld {
  margin-top: 100px;
  background: linear-gradient(257.29deg, rgba(153, 124, 152, 0.6) 6.5%, #FFFFFF 18.5%, rgba(159, 13, 118, 0.27) 41%, #FFFFFF 77.5%, rgba(153, 124, 152, 0.4) 90.5%);
  border-radius: 40px;
  width: 100%;
  height: 650px;
  /* padding-top: 50px; */
}

.theWorld .heading {
  width: 840px;
  height: 265.67px;
  /* top: 1208.24px; */
  left: 10vw;
  position: absolute;
  margin-top: 30px;
}

.theWorld h2 {
  width: 821px;
  height: 109.07px;
  /* top: 1459.93px; */
  left: 10.5vw;
  position: absolute;
  text-align: start;
  margin-top: 300px;
}

.theWorld .heading h1 {
  text-align: start;
  margin-top: 0;
}

.theWorld .heading h1:nth-child(1) {
  color: #cc1b97;
}

.theWorld .heading h1:nth-child(2) {
  color: #5A156B;
}

.theWorld .heading h1:nth-child(3) {
  color: #c175ec;
}

.theWorld button {
  width: 384px;
  height: 93.22px;
  /* top: 1619.33px; */
  left: 15vw;
  gap: 0px;
  border-radius: 15px;
  /* background: #5A156B; */
  position: absolute;
  font-size: 36px;
  /* color: #FFFFFF; */
  margin-top: 450px;
}

#planes {
  width: 858px;
  height: 309.49px;
  /* top: 1165.36px; */
  left: 45vw;
  position: absolute;
  margin-top: 30px;
}

#people {
  width: 437.9px;
  height: 417.29px;
  /* top: 1350.72px; */
  left: 60vw;
  rotate: 0.23 deg;
  position: absolute;
  margin-top: 230px;
}

.components > * {
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 15px;
  border: 1px solid black;
}

.awesomeFeatures .components, .assistance .components {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.awesomeFeatures h1 {
  color: #201041;
  text-shadow: 0px 5px 10px #00000033;
  margin-bottom: 10px;
}

.awesomeFeatures h2 {
  text-shadow: 0px 5px 10px #00000033;
}

.featurecomp {
  width: 270px;
  height: 187px;
  border-radius: 10px;
  border: 1px solid black;  
  /* box-shadow: 0px 8px 16px 0px #00000033; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  transition: 0.5s;
}

.featurecomp:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.featurecomp h2{
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
}

.featurecomp p {
  font-size: 20px;
  text-align: center;
  text-wrap: pretty;
  color: #464657;
}

.ourServices {
  background: #C414681A;
  box-shadow: 0px 4px 4px 0px #00000040;
  margin: 50px;
  padding: 30px;
}

.servicecomp {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  border: 1px solid black;
  background: white;
  /* box-shadow: 0px 4px 4px 0px #00000040; */
}

.ourServices .components {
  display: grid;
  grid-template: 
  "a a a a" 1fr
  "a a a a" 1fr
  "a a a a" 1fr
  "a a a a" 1fr / 1fr 1fr 1fr 1fr;
  gap: 60px;
  justify-items: center;
}

.servicecomp {
  transition: 0.5s;
}

.servicecomp:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.servicecomp .main-img {
  border-radius: 15px 15px 0 0;
  width: 249.5px;
}

.servicecomp .panel div {
  display: flex;
  margin-left: 5px;
}

.star {
  width: 18px;
  color: #c1a8c7;
  fill: #5A156B;
}

.servicecomp:nth-child(13) {
  grid-column: 2 / 3;
}

.servicecomp:nth-child(14) {
  grid-column: 3 / 4;
}

.servicecomp .panel > p {
  font-size: 22px;
  font-weight: 600;
  line-height: 29.06px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.servicecomp p {
  margin: 0 0 0 5px;
}

.asscomp {
  width: 220px;
  height: 220px;
  background: #EE481447;
  padding: 15px;
  z-index: 10;
  transition: 0.5s;
}

.asscomp:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.asscomp h2 {
  margin-top: 25%;
  font-weight: 700;
}

.asscomp p {
  text-align: center;
  text-wrap: pretty;
}

.assistance > img {
  position: absolute;
  z-index: 0;
}

#vert-triangles {
  rotate: -90deg;
  right: 20px;
  margin-right: 200px;
  margin-top: -300px;
}

#vert-cross {
  rotate: 180deg;
  left: 15%;
  margin-top: -50px;
}

.faq {
  margin-top: 50px;
}

.faq > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faqomponent {
  box-shadow: 0px 4px 4px 0px #00000040;
  /* display: flex;
  justify-content: space-between; */
  width: 80%;
  margin-bottom: 16px;
}

.faqomponent .flexpart {
  display: flex;
  justify-content: space-between;
}

.flexpart > p {
  margin: 15px 0 0 0;
  line-height: normal;
}

.faqomponent #answer {
  display: none;
  transition: 1s;
}

.faqomponent #show-answer {
  display: block;
  transition: 0.5s;
  margin: 0 0 0 15px;
  padding-bottom: 20px;
}

.flexpart > p:first-child {
  font-size: 24px;
  margin-left: 10px;
}

.flexpart > p:last-child {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-right: 10px;
}

#faqarrow {
  transition: 0.5s;
}

#faqarrow:hover {
  color: #641566;
  cursor: pointer;
}

.footer > img:first-child {
  opacity: 0.4;
  position: absolute;
  width: 99.9%;
  height: 594.08px;
}

.footer .lists {
  /* margin-left: 5%; */
  display: flex;
  width: 60%;
  gap: 20%;
  z-index: 50;
}

.footer h2 {
  text-align: start;
  font-weight: 700;
  font-size: 32px;
  color: black;
}

.footer p {
  font-size: 20px;
}

.footer .lists p {
  transition: 0.5s;
}

.footer .lists p:hover {
  color: #c175ec;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
}

.part {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  height: 550px;
  transform: skewX(-5deg);
}

.news {
  margin-right: 100px;
  align-self: flex-end;
  z-index: 10;
}

.footer button {
  border-radius: 0;
}

.emailButton {
  margin-right: 100px;
  border: none;
  background-color: #5A156B;
  color: white;
  text-align: center;
  padding: 12.5px 0;
}

::placeholder {
  color: white;
  opacity: 1;
}

input:focus-visible {
  border: none;
  outline: none;
  border-radius: 0;
}
.subscribeButton {
  background: #BA4396;
}

#footerPattern {
  position: absolute;
  right: 0;
  height: 594.08px;
  /* transform: skewX(5deg); */
  /* width: 99.9%; */
}

.footer .headerContainer {
  background-color: black;
  margin-right: 0;
  margin-top: 30px;
  width: 252px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 15px;
  }

  header, .pageFrame, #triangles, #cross, #vert-triangles, #vert-cross, #footerPattern {
    display: none;
  }

  .alt-pageFrame {
    display: flex;
    position: fixed;
    right: 0;
    width: 60vw;
    height: 100vh;
    align-self: baseline;
    flex-direction: column;
    align-items: start;
    transform: translateX(80vw);
    z-index: 101;
    background-color: rgba(197, 197, 197, 0.75);
    transition: 1s;
  }

  .alt-pageFrame.active {
    transform: translateX(0);
    transition: 0.5s;
  }

  .alt-pageFrame a {
    margin: 30px 0 0 30px;
    color: black;
  }

  #navWindow {
    display: block;
  }

  .heroImage {
    border: none;
  }

  .dataPanel .span {
    left: 5vw;
    height: auto;
    box-shadow: none;
  }

  .dataPanel .span .data {
    margin-top: 10px;
  }

  .theWorld {
    height: 55vh;
  }

  .theWorld .heading {
    width: auto;
    height: auto;
  }

  .theWorld h2 {
    width: auto;
    margin-top: 45vw;
  }

  .theWorld button {
    width: auto;
    height: 10vw;
    border-radius: 2vw;
    font-size: 13px;
    margin-top: 80vw;
    left: 10vw

  }

  #planes {
    width: 65vw;
    height: 30vw;
    right: 1px;
    left: auto;
  }  

  #people {
    width: 40vw;
    height: 40vw;
    right: 5vw;
    /* left: auto; */
    margin-top: 70vw;
  }

  .awesomeFeatures .components, .assistance .components {
    flex-wrap: wrap;
    gap: 5vw;
  }

  .featurecomp {
    width: 40vw;
  }

  .featurecomp h2, .featurecomp p{
    font-size: 13px;
  }

  .ourServices {
    margin: 2vw;
    padding: 5vw;
  }

  .ourServices .components {
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template: 
    "a a" 1fr
    "a a" 1fr
    "a a" 1fr
    "a a" 1fr
    "a a" 1fr
    "a a" 1fr      
    "a a" 1fr / 1fr 1fr;
    gap: 20px;
  }

  .servicecomp {
    width: 40vw;
    height: 53vw;
    border-radius: 3px;
  }

  .servicecomp:nth-child(13), .servicecomp:nth-child(14) {
    grid-column: auto;
  }

  .servicecomp .main-img {
    border-radius: 3px;
    /* width: calc(30vw - 1px); */
    width: 40vw;
  }

  .servicecomp .panel > p {
    font-size: 16px;
  }

  .asscomp {
    width: 35vw;
    height: auto;
  }

  .faq h1 {
    font-size: 25px;
  }

  .faqomponent {
    width: 90vw;
  }

  .faqomponent > p:first-child {
    font-size: 16px;
  }

  .part {
    flex-direction: column;
    justify-content: flex-start;
    height: 600px;
  }

  .part .lists ul{
    padding-inline-start: 0;
  }


  .footer > img:first-child {
    height: 600px;
  }

  .footer h2, .footer p {
    font-size: 15px;
    margin: 0;
  }

  .news {
    margin: 0 10vw;
    align-self: auto;
  }

  .emailButton {
    margin-bottom: 10px;
    padding: 1.8vh 0;
  }
}